@font-face {
	src: url("../../../../../../resources/fonts/Roboto-Regular.ttf");
}

@font-face {
	src: url("../../../../../../resources/fonts/Roboto-Black.ttf");
}

#title-Roboto {
	-fx-font-family: "Roboto Black";
}

.titled-pane * {
    -fx-background-color: transparent;
}
.titled-pane:pressed {
    -fx-text-fill: red;
}
.titled-pane .title{
    -fx-background-color: #666666;
}
.titled-pane .title:hover {
    -fx-background-color: #AAAAAA;
}
.titled-pane .title:pressed {
    -fx-background-color: #DDDDDD;
}

.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}